<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../css/responsive.bootstrap4.min.css" rel="stylesheet"
	type="text/css" />
<link href="../css/dataTables.bootstrap4.min.css" rel="stylesheet"
	type="text/css" />

<link href="../css/miLogin.css" rel="stylesheet" type="text/css" />
<link href="../css/miLayout.css" rel="stylesheet" type="text/css" />
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="../css/datatables.min.css" rel="stylesheet" type="text/css" />
<script src="../js/datatables.min.js" type="text/javascript"></script>
<title>Bienvenida</title>
<link rel="canonical"
	href="https://getbootstrap.com/docs/5.2/examples/album/" />
<link rel="stylesheet" href="css\bootstrap.min.css">
<script src="js\bootstrap.bundle.min.js"></script>
</head>
<body>
	<header th:replace="layout/barraMenu :: header"></header>

	<main>


		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


					<!--  CAMPOS NUMERO 1 -->
					<div class="col">
						<div class="card shadow-sm">
							<a th:href="@{/home/nuevo11}">

								<div>
									<img src="..\IMAGENES_DE_CANCHAS\01.-CAMPO1\CAMPO1_2.jpg"
										class="img-fluid" alt="0" height="400" width="400">
								</div>
							</a>

							<div class="card-body">
								<h5 align="center">Complejo Deportivo 1</h5>
								<ul>

									<li>Direccion: Av.Venezuela cdra.34 s/n-San Miguel,Lima.</li>
									<li>Telefono: 993686916</li>
									<li>Capacidad: 6 personas</li>
								</ul>
							</div>

						</div>
					</div>


					<!--  CAMPOS NUMERO 2 -->
					<div class="col">
						<div class="card shadow-sm">
							<a th:href="@{/home/nuevo22}">


								<div>
									<img src="..\IMAGENES_DE_CANCHAS\02.-CAMPO2\CAMPOS2_2.jpg"
										class="img-fluid" alt="0" height="400" width="400">
								</div>
							</a>

							<div class="card-body">
								<h5 align="center">Complejo Deportivo 2</h5>
								<ul>

									<li>Direccion: AV. 5 DE MAYO NO. 1652 s/n-San Miguel,Lima.</li>
									<li>Telefono: 993686916</li>
									<li>Capacidad: 8 personas</li>
								</ul>
							</div>



						</div>
					</div>

					<!--  Inicio de la primeras imagenes -->
					<div class="col">
						<div class="card shadow-sm">
							<a th:href="@{/home/nuevo33}">


								<div>
									<img src="..\IMAGENES_DE_CANCHAS\03.-CAMPO3\CAMPO3_2.jpg"
										class="img-fluid" alt="0" height="400" width="400">
								</div>
							</a>

							<div class="card-body">
								<h5 align="center">Complejo Deportivo 3</h5>
								<ul>

									<li>Direccion: AV. INDEPENDENCIA NO 145 COL.CENTRO
										TUXTEPEC.</li>
									<li>Telefono: 993686916</li>
									<li>Capacidad: 7 personas</li>
								</ul>
							</div>

						</div>
					</div>



				</div>

				<br>

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


					<!--  Inicio de la primeras imagenes -->
					<div class="col">
						<div class="card shadow-sm">
							<a th:href="@{/home/nuevo44}">


								<div>
									<img src="..\IMAGENES_DE_CANCHAS\04.-CAMPO4\CAMPO4_1.jpg"
										class="img-fluid" alt="0" height="500" width="500">
								</div>
							</a>

							<div class="card-body">
								<h5 align="center">Complejo Deportivo 4</h5>
								<ul>

									<li>Direccion: CAMINO LOMA ALTA NO. 1000 COL.LOS AMIGOS
										CHARROS.</li>
									<li>Telefono: 993686916</li>
									<li>Capacidad: 10 personas</li>
								</ul>
							</div>
						</div>
					</div>

					<!--  Inicio de la primeras imagenes -->
					<div class="col">
						<div class="card shadow-sm">
							<a th:href="@{/home/nuevo55}">


								<div>
									<img src="..\IMAGENES_DE_CANCHAS\05.-CAMPO5\CAMPO5_1.jpg"
										class="img-fluid" alt="0" height="400" width="400">
								</div>
							</a>

							<div class="card-body">
								<h5 align="center">Complejo Deportivo 5</h5>
								<ul>

									<li>Direccion: AV. INDEPENDENCIA NO.545-D COL.CENTRO
										TUXTEPEC.</li>
									<li>Telefono: 993686916</li>
									<li>Capacidad: 8 personas</li>
								</ul>
							</div>


						</div>
					</div>

					<!--  Inicio de la primeras imagenes -->
					<div class="col">
						<div class="card shadow-sm">
							<a th:href="@{/home/nuevo66}">

								<div>
									<img src="..\IMAGENES_DE_CANCHAS\06.-CAMPO6\CAMPO6_1.jpg"
										class="img-fluid" alt="0" height="400" width="400">
								</div>
							</a>

							<div class="card-body">
								<h5 align="center">Complejo Deportivo 6</h5>
								<ul>

									<li>Direccion: AVENIDA 5 DE MAYO NO. 1226 MARIA LUISA
										TUXTEPEC.</li>
									<li>Telefono: 993686916</li>
									<li>Capacidad: 10 personas</li>
								</ul>
							</div>
						</div>
					</div>



				</div>

			</div>
		</div>

	</main>



	<footer class="mt-auto fixed-bottom p-3">
		<small>Copyright &copy; www.idat.edu.pe</small>
	</footer>
	<script src="js\bootstrap.bundle.min.js"></script>
	<script src="js\jquery-3.6.1.min.js"></script>
	<script src="js\popper.min.js"></script>
	<script src="js\bootstrap.min.js"></script>



</body>
</html>
