<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../css/responsive.bootstrap4.min.css" rel="stylesheet"
	type="text/css" />
<link href="../css/dataTables.bootstrap4.min.css" rel="stylesheet"
	type="text/css" />
<title>Cines</title>
<link href="../css/miLogin.css" rel="stylesheet" type="text/css" />
<link href="../css/miLayout.css" rel="stylesheet" type="text/css" />
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="../css/datatables.min.css" rel="stylesheet" type="text/css" />
<script src="../js/datatables.min.js" type="text/javascript"></script>


</head>
<body>
		<header th:replace="layout/barraMenu :: header"></header>
		
	<section id="seccion1">
		<div>
		
		<nav align="center"> <img alt="" src="imagenes\memem.jpg" width="400" height="500"> </nav>
		
		
		</div>
	</section>

	<footer class="mt-auto fixed-bottom p-3">
		<small>Copyright &copy; www.idat.edu.pe</small>
	</footer>
</body>
</html>
