<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../css/miLogin.css" rel="stylesheet" type="text/css" />
<link href="../css/miLayout.css" rel="stylesheet" type="text/css" />
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<title>Crear Nueva Promociones</title>
</head>
<body>


		<header th:replace="layout/barraMenu :: header"></header>
		

	<section id="seccion1">
			<p>Datos de Nueva Promociones</p>
			<form th:action="@{/promociones/guardar}"
				th:object="${promociones}" method="post">

				<div class="form-group row">
					<label for="Nombrepromocion" class="col-sm-2 col-form-label">Nombre promocion :</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Nombrepromocion"
							placeholder="Nombre promocion" th:field="*{nombre_promocion}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="Descripcionpromocion" class="col-sm-2 col-form-label">Descripcion promocion :</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Descripcionpromocion"
							placeholder="Descripcion promocion" th:field="*{descripcion_promocion}" />
					</div>
				</div>
				
				<div class="form-group row">
					<label for="Fechapromoinicio" class="col-sm-2 col-form-label">Fecha promo inicio :</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Fechapromoinicio"
							placeholder="Fecha promo inicio" th:field="*{fecha_promo_inicio}" />
					</div>
				</div>
				
				<div class="form-group row">
					<label for="Fechapromofinal" class="col-sm-2 col-form-label">Fecha promo final :</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Fechapromofinal"
							placeholder="Fecha promo final" th:field="*{fecha_promo_final}" />
					</div>
				</div>
				


				
				

				<div align="center">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>


			</form>
	</section>


	
</html>